{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div class="container py-5 text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stocks in stocksdetails %}
                <tr>
                    <td class="text-start">{{stocks.symbol}}</td>
                    <td class="text-start">{{stocks.symbolname}}</td>
                    <td class="text-end">{{stocks.qtybought}}</td>
                    <td class="text-end">{{tempprice[stocks.symbol] | usd}}</td>
                    <td class="text-end">{{stockvaluebysymbol[stocks.symbol] | usd}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{cash | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{totalvalue | usd}}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}